<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Titulo"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeuPrimeiroAsp.styles.css" asp-append-version="true" />
</head>
<body>
    <!--inicio header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">

                <a class="navbar-brand fw-bold" href="/"><img class="img_logo" src="~/img/logo.png" alt="Alternate Text" /></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        @* <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Cliente" asp-action="Create">teste</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Cliente" asp-action="Cadastro">Cadastro Cliente</a>
                        </li> *@
                        @* dropdown cliente *@
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Selecione o item
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                            </ul>
                        </li>
                        @* fim dropdown cliente *@
                        @* dropdown Representante *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Representante
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item fw-bold" asp-area="" asp-controller="Representante" asp-action="Index">Todos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bold" asp-area="" asp-controller="Representante" asp-action="Create">Cadastrar</a>
                                </li>
                            </ul>
                        </li>
                        @* fim dropdown Representante *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--fim header -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Parceiros</h5>
                    <p>Lista de parceiros importantes.</p>
                </div>
                <div class="col-md-4">
                    <h5>Contato</h5>
                    <p>Email: contato@exemplo.com</p>
                    <p>Telefone: (11) 99999-9999</p>
                </div>
                <div class="col-md-4">
                    <h5>Endereço</h5>
                    <p>Rua Exemplo, 123</p>
                    <p>Cidade, Estado</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/jquery-mask/jquery.mask.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
